<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<% content_for :title do %> Sprawdzamy <% end %>
<% content_for :description do %>Strona Jasia <% end %>

<div class="row header">
  <div class="large-6 columns"><h3>Witaj!</h3></div>
  <div class="large-6 columns">Najlepsza strona u Golembia!</div>
</div>
<div class="row nizej">
  <div class="large-3 columns">Siemanko</div>
  <div class="large-6 columns">Witaj!</div>
  <div class="large-3 columns">      
		<label>Input Label
        <input type="text" placeholder=".medium-6.columns" class="aaa">
		</label></div>
</div>
</html>